/* Based on kate's own default colors for Haskell */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { text-align: right; background-color: #EBEBEB; color: black; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }

#container main pre.sourceCode {
    background-color: #292b2e;
}

code.sourceCode {
   font-family: 'Source Code Pro', monospace;
}
.sourceCode { color: #e3dedd }
.sourceCode .kw { color: #4f97d7; } /* KeyWordTok */
.sourceCode .dt { color: #ce537a; font-style: italic; } /* DataTypeTok */

.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #a45bad; } /* FloatTok */
.sourceCode .ch { color: #DC322F; } /* CharTok */
.sourceCode .st { color: #2d9574; } /* StringTok */
.sourceCode .co { color: #2aa1ae; } /* CommentTok */
.sourceCode .ot { color: #a45bad; } /* OtherTok */
.sourceCode .al { color: #CB4B16; font-weight: bold; } /* AlterTok */
.sourceCode .fu { color: #bc6ec5; } /* FunctionTok */
.sourceCode .re { } /* RegionMarkerTok */
.sourceCode .er { color: #D30102; font-weight: bold; } /* ErrorTok */