<!doctype html>
<html lang="en">
<head>
  <title>$title$ - $site-title$</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="$if(description)$ $description$ $else$ $site-description$ $endif$" />
  <meta name="author" content="$if(author)$ $author$ $else$ $site-author$ $endif$" />
  <link rel="alternate" type="application/rss+xml" href="/rss.xml" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
  <script src="https://kit.fontawesome.com/b76b73e8e8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/syntax.css" />

</head>

<body>
  <div id="container">
    <header>
      <h1>
          <a href="/">$site-title$</a>
      </h1>

      <ul id="social-media">
        $if(site-author-twitter)$
        <li><a href="https://twitter.com/$site-author-twitter$"><i class="fab fa-twitter fa-lg" aria-hidden="true"></i></a></li>
        $endif$
        $if(site-author-linkedin)$
        <li><a href="https://www.linkedin.com/in/$site-author-linkedin$"><i class="fab fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
        $endif$ 
        $if(site-author-github)$
        <li><a href="https://github.com/$site-author-github$"><i class="fab fa-github fa-lg" aria-hidden="true"></i></a></li>
        $endif$
        $if(site-author-gitlab)$
        <li><a href="https://gitlab.com/$site-author-gitlab$"><i class="fab fa-gitlab fa-lg" aria-hidden="true"></i></a></li>
        $endif$ 
        $if(site-author-facebook)$
        <li><a href="https://www.facebook.com/$site-author-facebook$"><i class="fab fa-facebook fa-lg" aria-hidden="true"></i></a></li>
        $endif$ 
        $if(site-author-instagram)$
        <li><a href="https://instagram.com/$site-author-instagram$"><i class="fab fa-instagram fa-lg" aria-hidden="true"></i></a></li>
        $endif$
      </ul>
      <p><em>$site-tagline$</em></p>
    </header>

    <!-- TODO: Add Support for NAV (see nav.html) -->
    <nav>
      <ul></ul>
    </nav>
    <main>
    $body$
    </main>
    <footer>
        <h6>$site-copyright$ 
          | Rendered by <a href="http://jaspervdj.be/hakyll/" title="Hakyll">Hakyll</a> 
          <!-- TODO: Add subscribe link -->
        </h6>
    </footer>
</div>
<script src="/js/scripts.js""></script>
$partial("templates/tracking.html")$
</body>
</html>
